.card-2 {
    display: flex;
    background-color: #F13C6E;
}

.card-2__part-1 {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 40px;
}

.card-2__part-2--1st {
    padding: 35px 45px 35px 0px;
}

.card-2__part-2--2nd {
    padding: 55px 45px 55px 0px;
}

.card-2__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.card-2__text {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.card-2__text--1st {
    width: 230px;
}

.card-2__text--2nd {
    width: 140px;
}

.card-2__image-1 {
    width: 140px;
    margin-left: 65px;
}

.card-2__link-button {
    padding: 9px 28px;
    border-radius: 30px;
    letter-spacing: normal;
}

.card-2__image-2 {
    width: 189px;
    margin-left: 95px;
}