.input {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 10px 25px;
    border: none;
    outline: none;
}

input::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4
}