.background--navigation {
    background-color: #fff;
}

.navigation {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation__link:not(:last-child) {
margin-right: 40px;
}

.navigation__link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}