.section-main-chair {
    background-image: url(../images/cover_chair.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #F13C6E;
    padding-top: 190px;
    padding-bottom: 190px;
}

.section__main-chair {
    width: 308px;
    text-align: justify;
}

.section__head {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    margin-bottom: 50px;
}

.section__text {
    color: #ffffff;
    margin-bottom: 50px;
}