.section-logo {
    background-color: #E5E5E5;
    padding-bottom: 80px;
}

.section__logo-box {
    display: flex;
    flex-wrap: wrap;
}

.link__logo {
    padding: 35px 62px;
    background-color: #fff;
    border-right: 1px solid #EFEFEF;
}

.link__logo:nth-child(4n) {
    border-right: none;
}

.link__logo:nth-last-child(n+5) {
    border-bottom: 1px solid #EFEFEF;
}

.link__logo-pic {
    width: 150px;
}