.section-contacts {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.block-contacts {
    display: flex;
    justify-content: space-between;
}

.block-contacts__block {
    display: flex;
    justify-content: flex-start;
}

.media {
    display: flex;
    width: 45px;
    height: 45px;
    border: 2px solid #F13C6E;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.media:nth-last-child(1) {
    margin-right: 0;
}